$col1: hsla(118, 100%, 86%, 1);
$col2: hsla(145, 65%, 80%, 1);
$col3: hsla(159, 46%, 72%, 1);
$col4: hsla(31, 86%, 59%, 1);
$col5: hsla(356, 12%, 22%, 1);

button {
    width: 10em;
    height: 3em;
    background: $col4;;
    color: #fff;
    border: none;
    margin: 1em;
}

.sign-up {
    font-family: 'Aaargh', serif;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: content;
    background: $col5;
    border: 2px solid $col1;
    color: #fff;
    padding: 2em; 

    h2 {
        text-align: center;
    }

    .form-group {
        display: flex;
        flex-direction: column;
        align-items: center;

        label {
            align-self: flex-start;
            margin-top: 1em;
        }

        input {
            width: 100%;
            line-height: 2em;
        }

        button[type="submit"] {
            align-self: flex-end;
        }
    }
}

.progress {
    display: flex;
    align-self: center;
    justify-content: space-around;
    width: 50%;
    margin-top: 1em;

    div {
        width: 1em;
        height: 1em;
        background: #fff;
        border-radius: 50%;
    }
}

