@font-face {
  font-family: 'Aaargh';
  src: url('./fonts/Aaargh.ttf') format('truetype');
}

.App {
  text-align: center;
  font-family: 'Aaargh', sans-serif;
}

.App-header {
  background-color: hotpink;
  height: 4em;
  padding-top: 1.4em;
  color: white;
}

h1 { 
  margin: 0;
}