@font-face {
  font-family: 'Aaargh';
  src: url('./fonts/Aaargh.ttf') format('truetype');
}

.App {
  width: 100%;
  font-family: 'Aaargh', sans-serif;
}

.App-header {
  display: flex;
  justify-content: space-between;
  padding: .4em 1em;
  border-bottom: 2px solid darkslategray;

  h1 {
    font-size: 1.4em;
  }
}

.App-main {
  margin: 4em;
  display: flex;
  justify-content: center;
}

